<h3><%= @bus.name %></h3>
<h4>Stops:</h4>

  <ul>
    <% @bus.bus_stops.each do |s| %>
      <li>
        <%= s.stop_name %> : <%= s.time %>
      </li>
    <% end %>
  </ul>
  <div class="row">
    <h4>Seats avaliable:</h4>
    <div class="col-md-5">
      <% @bus.tickets.each do |t| %>
        <% if t.user_id.nil? %>
          <%= link_to t.seat.to_s, buy_ticket_path(ticket_id: t.id), class: 'btn btn-default', method: :post%>
        <% end %>
      <% end %>
    </div>
  </div>

<p>
  <%= link_to 'Edit', edit_bus_path(@bus) %>
  <%= link_to 'Delete', bus_path, method: :delete  %>
</p>
